<nav class="navbar navbar-fixed-top">
	<div class="content-padding">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/">Home</a></li>
			<li class="dropdown"></li>
			<ul class="dropdown-menu">
				
			</ul>
		</ul>
	</div>
</nav>